package main

// Number of seconds to wait before fetches
var GIT_RADAR_FETCH_TIME uint = 5 * 60;

// Pad the git-radar prompt with these
var PREFIX string = "  ";
var SUFFIX string = " ";


var COLOUR_PREFIX string = "\x01\033[";
var COLOUR_SUFFIX string = "m\x02";

var END_COLOUR string  = COLOUR_PREFIX + "0"    + COLOUR_SUFFIX;

var BOLD       string  = COLOUR_PREFIX + "1" + COLOUR_SUFFIX;

var BLACK      string  = COLOUR_PREFIX + "1;30" + COLOUR_SUFFIX;
var RED        string  = COLOUR_PREFIX + "1;31" + COLOUR_SUFFIX;
var GREEN      string  = COLOUR_PREFIX + "1;32" + COLOUR_SUFFIX;
var YELLOW     string  = COLOUR_PREFIX + "1;33" + COLOUR_SUFFIX;
var WHITE      string  = COLOUR_PREFIX + "0;37" + COLOUR_SUFFIX;

// printf style string to format different repo States
var REMOTE_AHEAD        string = WHITE + "%s" + END_COLOUR + " " +         GREEN  + "←"  + END_COLOUR + " %d " + WHITE + "%s" + END_COLOUR;
var REMOTE_BEHIND       string = WHITE + "%s" + END_COLOUR + " " + "%d " + RED    + "→"  + END_COLOUR +    " " + WHITE + "%s" + END_COLOUR;
var REMOTE_DIVERGED     string = WHITE + "%s" + END_COLOUR + " " + "%d " + YELLOW + "⇄"  + END_COLOUR + " %d " + WHITE + "%s" + END_COLOUR;
var REMOTE_EQUAL        string = WHITE + "%s" + END_COLOUR + " " +         BOLD   + "≈"  + END_COLOUR +    " " + WHITE + "%s" + END_COLOUR;
var REMOTE_NOT_UPSTREAM string =                                           RED    + "⚡" + END_COLOUR +    " " + WHITE + "%s" + END_COLOUR;
var REMOTE_SAME         string = WHITE + "%s" + END_COLOUR;

var LOCAL_AHEAD         string = " %d" + GREEN  + "↑" + END_COLOUR;
var LOCAL_BEHIND        string = " %d" + RED    + "↓" + END_COLOUR;
var LOCAL_DIVERGED      string = " %d" + YELLOW + "⇵" + END_COLOUR + "%d";

var CHANGES_STAGED      string = "%d"  + GREEN  + "%s" + END_COLOUR;
var CHANGES_UNSTAGED    string = "%d"  + RED    + "%s" + END_COLOUR;
var CHANGES_CONFLICTED  string = "%d"  + YELLOW + "%s" + END_COLOUR;
var CHANGES_UNTRACKED   string = "%d"  + WHITE  + "%s" + END_COLOUR;
var STASH_FORMAT        string = " %d" + YELLOW + "≡"  + END_COLOUR;

// Git radar prompt format
// 1: Prefix
// 2: Remote
// 3: Branch
// 4: Local
// 5: Stash
// 6: Change
// 7: Suffix
var PROMPT_FORMAT string = "%s" + BLACK + "git:(" + END_COLOUR + "%s%s" + BLACK + ")" + END_COLOUR + "%s%s%s";
